asposestorage==1.0.2
db==0.1.1
fastapi==0.100.1
scraper==0.1.0
SQLAlchemy==2.0.3
pydantic==2.5.2
alembic==1.11.1
mysql-connector-python==8.0.33
bs4==0.0.1
requests==2.31.0
bcrypt==4.0.1
passlib==1.7.4
python-multipart==0.0.6
paramiko==3.3.1
APScheduler==3.10.4
python-jose==3.3.0
mysqlclient==2.2.1
uvicorn==0.29.0
python-dotenv==1.0.1